/* Auth.js */
.auth {
  max-width: 600px;
  height: 400px;
  padding-top: 200px;
  border-top: solid 20px white;
  border: solid 0.5px rgb(168, 164, 164);
  margin: auto;
  margin-bottom: 20px;
}
.authheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  min-width: 300px;
  background-color: #d9d6cf;
  border: solid 0.5px rgb(172, 170, 170);
  margin: auto;
  margin-top: -195px;
  padding: 0px 20px;
}
@media (max-width: 1500px) {
  .auth {
    min-width: 300px;
  }
}

input {
  display: list-item;
  margin: auto;
  justify-content: space-between;
  min-width: 300px;
  min-height: 40px;
}

.authbuttons {
  width: 100%;
  margin-top: 50px;
}
.login,
.register {
  display: block;
  color: white;
  width: 350px;
  height: 50px;
  background: black;
  margin: auto;
}
@media (max-width: 400px) {
  .login,
  .register {
    width: 200px;
  }
}

.forgotpw {
  margin-left: 55px;
}
.forgotpw:hover {
  color: blue;
  text-decoration: underline;
}
.loginlink {
  color: black;
  text-decoration: none;
}
.newcustomerlink {
  color: black;
  text-decoration: none;
}
.loginlink:hover,
.newcustomerlink:hover {
  color: gray;
  text-decoration: underline;
}

/*             --------      ---------           */

/* NEW CUMSTOMER */
.register {
}
.register-btn-container {
  margin-top: 30px;
}
.registerform {
  max-width: 600px;
  height: 400px;
  padding-top: 200px;
  border-top: solid 20px white;
  border: solid 0.5px rgb(168, 164, 164);
  margin: auto;
  margin-bottom: 20px;
}
@media (min-width: 1500px) {
  .registerform {
    min-width: 300px;
  }
}

.registerheader {
  background-color: #d9d6cf;
  border: solid 0.5px rgb(172, 170, 170);
  min-width: 300px;
  height: 10vh;
  margin-top: -195px;
}
.welcome {
  margin: auto;
  width: 295px;
  padding: 20px 0px;
}

p {
  margin-left: 50px;
}
/*                 ---------              */

.logout {
  width: 100px;
  height: 20px;
  text-decoration: none;
}
/*                 ---------              */

/* cart */
.carts {
  background: rgb(224, 235, 234);
  min-width: 300px;
  min-height: 100vh;
  /* display: flex; */
}
.cartimage {
  /* position: relative;
  min-width: 350px;
  height: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  object-fit: cover;
  transition: all 0.2s linear;
  border-radius: 10px; */
  position: relative;
  min-width: 300px;
  height: 300px;
  margin-left: 30px;
  padding: 15px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
.editcart {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}
.minus {
  color: black;
  width: 25px;
  height: 20px;
  background-color: white;
}
.plus {
  color: black;
  width: 25px;
  height: 20px;
  background-color: white;
}
/* delete */
.remove {
  padding: 5px;
  color: black;
  width: 100px;
  height: 25px;
  background-color: white;
}
.oneitem {
  padding-bottom: 20px;
  padding-inline-start: 20px;
  display: flex;
}
/*             --------      ---------           */

.addtobag:hover,
.remove:hover,
.minus:hover,
.plus:hover {
  border: solid 2px rgb(51, 50, 50);
}

/* PRODUCTS */
.filter {
  width: 25vw;
}
/* .addtobag {
  color: black;
  width: 150px;
  height: 15px;
  background-color: transparent;
  border: solid 1px black;
  font-size: x-small;
} */

.productimage {
  position: relative;
  min-width: 350px;
  height: 350px;
  margin-left: 30px;
  padding: 15px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
.productimage:hover {
  box-shadow: 1px 1px 1px 1px rgb(134, 130, 130);
}
.product-list {
  margin: auto;
  padding: 3rem;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
/*             --------      ---------           */

/* aboutus */
.aboutus {
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  color: Black;
}

.story {
  margin: 20px;
  background: url("https://res.cloudinary.com/dgaapgd2f/image/upload/v1634001386/CE925DF6-A945-4427-9C89-1D633BD56C64_1_201_a_qjxuzo.jpg")
    center center/cover no-repeat;
  height: 70vh;
  width: 50vw;
}

/* <i class="fas fa-shopping-bag"/>  */
@media (max-width: 1200px) {
  .aboutus {
    min-width: 300px;
  }
}
/*             --------      ---------           */

/* footer rendered in app.js */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* 
  /* 
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  color: white; */
}
/*             --------      ---------           */

.design {
  background: rgb(224, 235, 234);
  min-width: 300px;
  min-height: 100vh;
}
.checkout {
  background: rgb(224, 235, 234);
  min-width: 300px;
  min-height: 100vh;
}
.insta {
  width: 60px;
  height: 60px;
}
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

button {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: black;
  /* box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6; */
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: black;
  /* box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8; */
  transform: scale(0.99);
}

.App {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}

h1,
h3 {
  text-align: center;
}
